.row
  .col-sm-8.col-offset-2
    %h1 New User Registration

.row
  .col-sm-8.col-offset-2
    .content
      .new-registration-form
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .row
            .col-sm-6
              = f.input :first_name, required: true, autofocus: true
            .col-sm-6
              = f.input :last_name, required: true
          .row
            .col-sm-12
              = f.input :email, required: true
          .row
            .col-sm-6
              = f.input :password, required: true
            .col-sm-6
              = f.input :password_confirmation, required: true
          .row
            .col-sm-12
              = f.submit "Sign up", class: 'btn btn-primary'
