= javascript_include_tag  "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"

.row
  .col-md-6
    %h1 Listings
  .col-md-6
    = link_to 'New Listing', new_listing_path, class: 'btn btn-default'
    = link_to 'Hide Map', "#", class: 'btn btn-default', id: 'display-map'


.row
  .col-sm-10.col-sm-offset-1
    #listings-map

.row
  .col-sm-10
    .box.box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table#datatable.table.table-bordered
            %thead
              %tr
                %th
                  Title
                %th
                  Price
                %th
                  Address
                %th
                  City
                %th
                  State
                %th
                  Zip
                %th
                  Actions

            %tbody
              - if @listings.present?
                - @listings.each do |f|
                  %tr
                    %td
                      = link_to f.title, f
                    %td
                      = f.price
                    %td
                      = f.street_address
                    %td
                      =f.city_name
                    %td
                      =f.state
                    %td
                      =f.zipcode
                    %td
                      = link_to edit_listing_path(f), id: 'edit' do
                        %i.fa.fa-edit
                      = link_to listing_path(f), data: {confirm: 'Are you sure that you want to delete this listing?'}, method: :delete, id: 'delete' do
                        %i.fa.fa-trash-o

:javascript

  buildMap(#{raw @hash.to_json});

  $('#display-map').click(function(e){
    e.preventDefault();
    $("body").find("#listings-map").slideToggle();
  })


