= javascript_include_tag  "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"

%br
.row
  .col-sm-10
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          View Listing
      .box-content.box-double-padding
        .listings-label
          Listing number
        %p
          = @listing.listing_number

        .listings-label
          Title:
        %p
          = @listing.title

        .listings-label
          Price:
        %p
          = @listing.price

        .listings-label
          Address:
        %p
          = @listing.street_address

        .listings-label
          City:
        %p
          = @listing.city_name

        .listings-label
          State:
        %p
          = @listing.state

        .listings-label
          Zip:
        %p
          = @listing.zipcode

        .listings-label
          Listing owner:
        %p
          = @listing.listing_owner

        .listings-label
          Listing creating agent:
        %p
          = @listing.creating_agent

        #single-listing-map


:javascript
  buildShowMap(#{raw @hash.to_json});

