.group-header
  .row
    .col-sm-6.col-sm-offset-2
      .text-center
        %h2 Tasks

.row
  .col-sm-12
    .box.bordered-box.blue-border{style: "margin-bottom:0;"}
      .box-header.blue-background
        .title
          Current Tasks
        .add-new
          = link_to 'New Task', new_task_path, class: 'btn'
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.dataTable
              %thead
                %tr
                  %th
                    Task Name
                  %th
                    Due Date
                  %th
                    Assigned To
                  %th
                    Task Type
                  %th
                    Name of Lead
                  %th
                    Actions
              %tbody
                - @tasks.each do |task|
                  %tr
                    %td
                      = task.task_name
                    %td
                      = task.due_date.to_s.capitalize
                    %td
                      = task.assigned_to
                    %td
                      = task.task_type.to_s.capitalize
                    %td
                      = task.lead_for_task
                    %td
                      = link_to '', task_path(task), class: 'icon-edit', id: 'edit'
                      = link_to '', task_path(task), method: 'delete', class: 'icon-trash', data: { confirm: 'Are you sure that you want to delete this task?'}, id: 'delete'