.row
  .col-md-12
    %h1
      Welcome to your Dashboard

.row.clearfix
  .col-md-12
    .content
      %h2 Events
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", href: "#dashboard-tasks"} Tasks
        %li
          %a{"data-toggle" => "tab", href: "#dashboard-appointments"} Appointments
        %li
          %a{"data-toggle" => "tab", href: "#dashboard-showings"} Showings

      .tab-content

        #dashboard-tasks.tab-pane.fade.in.active
          %table#datatable2.table.table-striped
            %thead
              %tr
                %th Name
                %th Due Date
            %tbody
              - @tasks.each do |task|
                %tr
                  %td= link_to task.name.titleize, task_path(task)
                  %td= task.due_date.strftime("%b %d, %Y %I:%M %P") if task.due_date

        #dashboard-appointments.tab-pane.fade
          %table#datatable2.table.table-striped
            %thead
              %tr
                %th Name
                %th Due Date
            %tbody
              - @appointments.each do |task|
                %tr
                  %td= link_to task.name.titleize, task_path(task)
                  %td= task.due_date.strftime("%b %d, %Y %I:%M %P") if task.due_date
                  %td= task.ends.strftime("%b %d, %Y %I:%M %P") if task.ends

        #dashboard-showings.tab-pane.fade
          %table#datatable2.table.table-striped
            %thead
              %tr
                %th Name
                %th Starts
                %th Ends
            %tbody
              - @showings.each do |task|
                %tr
                  %td= link_to task.name.titleize, task_path(task)
                  %td= task.due_date.strftime("%b %d, %Y %I:%M %P") if task.due_date
                  %td= task.ends.strftime("%b %d, %Y %I:%M %P") if task.ends


.row.clearfix
  .col-sm-12
    .content
      %section.widget
        %header
          %h2 Leads
        .body
          %table#datatable.table.table-striped
            %thead
              %tr
                %th
                  Name
                %th
                  Status
                %th
                  Created Date
            %tbody
              - if @leads.present?
                - @leads.each do |lead|
                  %tr
                    %td
                      = link_to lead.full_name.titleize, lead_path(lead)
                    %td
                      = lead.lead_status.to_s.capitalize
                    %td
                      = lead.created_at.to_date









