.group-header
  .row
    .col-sm-6.col-sm-offset-
      .text-center
        %h2 Welcome to your Dashboard
.row
  .col-sm-12
    .box.bordered-box.dark-border{style: "margin-bottom:0;"}
      .box-header.dark-background
        .title
          Current Leads
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.table-striped.dataTable
              %thead
                %tr
                  %th
                    Name
                  %th
                    Company
                  %th
                    Status
                  %th
                    Created Date
              %tbody
                - if @leads.present?
                  - @leads.each do |lead|
                    %tr
                      %td
                        = link_to lead.full_name.titleize, lead_path(lead)
                      %td
                        = lead.company
                      %td
                        = lead.lead_status.to_s.capitalize
                      %td
                        = lead.created_at.to_date
%br
%br
%br
.row
  .col-sm-12
    .box.bordered-box.dark-border{style: "margin-bottom:0;"}
      .box-header.dark-background
        .title
          Assigned Tasks
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.table-striped.dataTable
              %thead
                %tr
                  %th
                    Name
                  %th
                    Due Date
                  %th
                    Task Type
                  %th
                    Lead
              %tbody
                - if @tasks.present?
                  - @tasks.sort_by(&:due_date).each do |task|
                    %tr
                      %td
                        = link_to task.task_name.titleize, task_path(task)
                      %td
                        = task.due_date
                      %td
                        = task.task_type.titleize
                      %td
                        = task.lead_for_task

