- content_for :subnav do
  .row
    .col-md-12
      %h1 Leads


.row
  .col-sm-12
    .box.box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table#datatable.table.table-bordered
            %thead
              %tr
                %th
                  Name
                %th
                  Company
                %th
                  Phone
                %th
                  Status
                %th
                  Assigned to
                %th
                  Created Date
                %th
                  Actions
            %tbody
              - @leads.each do |lead|
                %tr
                  %td
                    = lead.full_name
                  %td
                    = lead.company
                  %td
                    = lead.phone
                  %td
                    = lead.lead_status.to_s.capitalize
                  %td
                    = lead.lead_owner
                  %td
                    = lead.created_at.to_date
                  %td
                    = link_to lead_path(lead), id: 'edit' do
                      %i.fa.fa-edit
                    = link_to lead_path(lead), data: {confirm: 'Are you sure that you want to delete this lead?'}, method: :delete, id: 'delete' do
                      %i.fa.fa-trash-o