= simple_form_for @task do |f|
  = f.input :type, collection: event_types
  = f.input :name
  = f.input :due_date
  = f.input :ends
  .modal-footer
    = f.submit class: 'btn btn-primary'
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
    