- ajax ||= false

= simple_form_for @showing, url: params[:action] == "edit" ? event_path(@showing) : event_path, method: params[:action] == "edit" ? :put : :post, remote: false do |f|
  .clearfix
    = f.input :contact_id, collection: @clients.collect { |client| [client.full_name, client.id] }
  .row.clearfix
    .col-md-6
      = f.input :due_date, label: "Starts", as: :string, input_html: { autocomplete: "off", class: 'datetime-picker' }
    .col-md-6
      = f.input :ends, as: :string, input_html: { autocomplete: "off", class: 'datetime-picker' }
  .row.clearfix
    .col-sm-12
      = f.input :all_day
  .row.clearfix
    .col-sm-12
      = f.input :notes, input_html: { rows: 5 }
  .row.clearfix
    .col-sm-12
      = f.submit class: 'btn btn-primary'