= simple_form_for @showing, url: events_path, method: :post do |f|
  = f.input :name
  = f.input :due_date, label: "Starts", as: :string, input_html: { autocomplete: "off", class: 'datetime-picker' }
  = f.input :ends, as: :string, input_html: { autocomplete: "off", class: 'datetime-picker' }
  = f.input :all_day
  .modal-footer
    = f.submit class: 'btn btn-primary'