= simple_form_for @task, url: events_path, method: :post do |f|
  = f.input :name
  = f.input :due_date
  = f.input :ends
  = f.input :task_type
  .modal-footer
    = f.submit class: 'btn btn-primary'
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
    