.fieldset
  = simple_form_for @agent, :html => { :class => 'form-horizontal' }  do |f|
    .col-sm-4
      .form-group
        = f.input :first_name
      .form-group
        = f.input :last_name
      .form-group
        = f.input :email
      .form-group
        = f.input :phone
      .form-group
        = f.input :company
    .col-sm-4.col-sm-offset-1
      .form-group
        = f.input :address
      .form-group
        = f.input :city
      .form-group
        = f.input :state
      .form-group
        = f.input :zip


    .row
      .col-sm-8
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', clients_path, class: "btn btn-danger"