.row
  .col-sm-8.col-offset-2
    %h1 Sign In
.row
  .col-sm-8.col-offset-2
    .box
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .col-sm-12
            = f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email', class: 'form-control'
        .row
          .col-sm-12
            = f.input :password, required: false, label: false, placeholder: 'Password', class: 'form-control'
        .row
          .col-sm-12
            = f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false if devise_mapping.rememberable?
        .row
          .col-sm-12
            = f.submit "Sign in", class: "btn btn-primary"
        .row
          .col-sm-12
            %hr.hr-normal
            = render "devise/shared/links"

