.fieldset
  = simple_form_for @opportunity, :html => { :class => 'form-horizontal' }  do |f|
    .col-sm-4
      .form-group
        = f.input :opportunity_name, label: "Name"
      .form-group
        = f.input :contact_name,  collection:(@opportunity_contact)
      .form-group
        = f.input :opportunity_type, collection:(@opportunity_type)
      .form-group
        = f.input :amount
        = f.input :stage, collection:(@opportunity_stage)
      .form-group
        = f.input :owner, collection:(@opportunity_owner)
    .col-sm-4.col-sm-offset-1
      .form-group
        = f.input :closing_date, :as => :string, :input_html => { :class => 'jquery-ui-date'}
      .form-group
        = f.input :probability
      .form-group
        = f.input :contact_person_name
      .form-group
        = f.input :comments, as: :text, :input_html => {rows: 5}

    .row
      .col-sm-8
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', leads_path, class: "btn btn-danger"
