.group-header
  .row
    .col-sm-6.col-sm-offset-2
      .text-center
        %h2 Opportunities

.row
  .col-sm-10
    .box.bordered-box.blue-border{style: "margin-bottom:0;"}
      .box-header.blue-background
        .title
          Current Opportunities
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area
            %table.data-table.table.table-bordered.table-striped.dataTable
              %thead
                %tr
                  %th
                    Opportunity Name
                  %th
                    Account Name
                  %th
                    Amount
                  %th
                    Stage
                  %th
                    Assigned to
                  %th
                    Closing Date
                  %th
                    Actions
              %tbody
                - @opportunities.each do |opportunity|
                  %tr
                    %%td
                      = opportunity.opportunity_name
                    %td
                      = opportunity.account_name
                    %td
                      = opportunity.amount
                    %td
                      = opportunity.stage
                    %td
                      = opportunity.owner
                    %td
                      = opportunity.closing_date
                    %td
                      = link_to '', opportunity_path(opportunity), class: 'icon-edit', id: 'edit'
                      = link_to '', opportunity_path(opportunity), method: 'delete', class: 'icon-trash', data: {confirm: 'Are you sure that you want to delete this opportunity?'}, id: 'delete'