.row#navigation-bar
  .col-md-12
    %nav.navbar-default{role: "navigation"}
      .navbar-header
        - if current_user
          %button.navbar-toggle{"data-target" => "#sidebar", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-brand= link_to image_tag('agentsignals-white.png'), root_path
      - if current_user
        .collapse.navbar-collapse
          %ul.nav.navbar-nav#top-navbar.pull-right
            %li.drop-down
              = link_to "#", html_options = {"data-toggle" => "dropdown"} do
                %i.fa.fa-gear
              %ul.dropdown-menu
                %li= link_to "Account Settings", settings_account_path(current_user.account)
            %li.drop-down
              = link_to "#", html_options = {"data-toggle" => "dropdown"} do
                %i.fa.fa-user
              %ul.dropdown-menu
                %li= link_to "hello bob", settings_account_path(current_user.account)
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out

