- if user_signed_in?
  %li= link_to 'Sign Out', :logout
  %li= link_to 'Profile', edit_user_path(current_user)
- else
  %li= link_to 'Pricing', :pricing
  %li= link_to 'Contact Us', :contact_us
  %li= link_to 'Sign In', :login

