- if user_signed_in? && current_user.organization
  %li= link_to "Dashboard", :dashboard
  %li= link_to "Leads", :leads
  %li= link_to "Accounts", :accounts
  %li= link_to "Contacts", :contacts
  %li= link_to "Tasks", :tasks
  %li= link_to "Opportunities", :opportunities

%ul.nav.navbar-nav.pull-right
  - if user_signed_in?
    %li= link_to 'Sign Out', :logout
    %li= link_to 'Profile', edit_user_path(current_user)
  - else
    %li= link_to 'Pricing', :pricing
    %li= link_to 'Contact Us', :contact_us
    %li= link_to 'Sign In', :login

