- if user_signed_in? && current_user.organization
  .sidebar
    .nav.nav-stacked.affix
      %ul.nav.nav-stacked.affix
        .nav-header Quick Links
        %li= link_to 'New Lead', new_lead_path
        %li= link_to 'New Task', new_task_path
        %li= link_to 'New Contact', new_contact_path
        %li= link_to 'New Account', new_account_path
        %li= link_to 'New Opportunity', new_opportunity_path
        %li= link_to "Web-to-Lead Form", :web_to_lead