!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Simplecrm'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Simplecrm'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  - if user_signed_in?
    %body.contrast-blue.fixed-header
      %header
        = render 'layouts/navigation'
      #wrapper
        = render 'layouts/side_nav'

        %section#content
          .container
            #content-wrapper.row
              .col-xs-12
                = render 'layouts/messages'
                = yield

  - else
    = yield
