!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Agent Signals'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Agent Signals'}"}
    %meta{ name: 'stripe-key',  content: STRIPE_PUBLIC_KEY }
    %link{href: "http://fonts.googleapis.com/css?family=Abel", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag 'https://js.stripe.com/v1/', "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{class: "#{background}"}
    = render 'layouts/header'
    = render 'layouts/messages'
    = render 'layouts/modal'
    .row
      .col-md-2
        .row.clearfix
          .col-sm-12
            - if current_user && current_user.account
              #sidebar.sidebar.nav-collapse.collapse.in
                = render_navigation level: 1

        - if current_user && current_user.account
          .row
            .col-sm-12
              .box
                %h3 Clients
                %ul
                  - @clients.each do |client|
                    %li= link_to "#{client.first_name} #{client.last_name}", client

      .col-md-10

        - if content_for :subnav
          
          .row.clearfix
            .col-sm-12
              = render_navigation level: 2

          .row
            .col-sm-12
              = yield :subnav

          .row
            .col-sm-12
              = yield

        - elsif content_for :custom_subnav
          .row
            .col-sm-12
              = yield :custom_subnav

          .row
            .col-sm-12
              = yield

        - else
          = yield
