!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Simplecrm'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Simplecrm'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container
        .row
          - if user_signed_in? && current_user.organization
            .col-sm-2
              = render 'layouts/sidebar'
            .col-sm-10
              = yield
          - else
            .col-sm-12
              = yield
