!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Agent Signals'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Agent Signals'}"}
    %meta{ name: 'stripe-key',  content: STRIPE_PUBLIC_KEY }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag 'https://js.stripe.com/v1/', "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.contrast-blue.fixed-header
    %header
      = render 'layouts/navigation'
    #wrapper
      = render 'layouts/side_nav' unless current_user.nil?

      - if current_user
        %section#content
          .container
            #content-wrapper.row
              .col-xs-12
                = render 'layouts/messages'
                = yield

      - else
        = render 'layouts/messages'
        = yield

