!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Simplecrm'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Simplecrm'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  - if user_signed_in?
    %body.contrast-blue.fixed-header
      %header
        = render 'layouts/navigation'
      #wrapper
        #main-nav-bg
        %nav#main-nav
          .navigation
            %ul.nav.nav-stacked
              %li
                %a{href: "/dashboard"}
                  %i.icon-dashboard
                  %span Dashboard
              %li
                %a{href: "/leads/new"}
                  %i.icon-male
                  %span Create Lead
              %li
                %a{href: "/tasks/new"}
                  %i.icon-tasks
                  %span Create Task
              %li
                %a{href: "/contacts/new"}
                  %i.icon-book
                  %span Create Contact
              %li
                %a{href: "/accounts/new"}
                  %i.icon-home
                  %span Create Account
              %li
                %a{href: "/opportunities/new"}
                  %i.icon-dollar
                  %span Create Opportunity


        %section#content
          .container
            #content-wrapper.row
              .col-xs-12
                = render 'layouts/messages'
                = yield

  - else
    = yield
