.fieldset
  = simple_form_for @account, :html => { :class => 'form-horizontal' }  do |f|
    .col-sm-4
      .form-group
        = f.input :subscription_plan, collection:([['Basic', '1']]), label: 'Plan type', required: true
      .form-group
        = f.input :name, label: 'Account name'
      .form-group
        = f.input :phone
    .col-sm-4.col-sm-offset-1
      .form-group
        = f.input :address
      .form-group
        = f.input :city
      .form-group
        = f.input :state, collection: (us_states)
      .form-group
        = f.input :zip

    .row
      .col-sm-8
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', accounts_path, class: "btn btn-danger"
