.row
  .col-sm-10
    %h1= "#{@account.name} Settings"

.row
  .col-sm-10
    .box
      = render partial: 'form'

.row.clearfix
  .col-sm-10
    .box
      %h3 Account Users
      %p
        = link_to 'Add a User', "#", class: 'btn btn-primary', id: 'add-user-to-account'

      .new-user-add-form
        = render 'add_user'

      = render 'users'



.row.clearfix
  .col-sm-10
    .content
      %h3 Change Background

      = simple_form_for @user, url: user_path, method: :put do |f|
        .form-group
          .controls
            = f.input :background, collection: background_options, input_html: {class: 'background-picker'}
        .form-group
          .controls
            = f.submit "Update Background", class: 'btn btn-primary'


:javascript
  $(document).ready(function() {

    $('.background-picker').change(function() {
      var background = this.value;
      $('body').removeClass();
      $('body').addClass(background);
    });
  });
