.row
  .col-sm-10
    %h1= "#{@account.name} Settings"

.row
  .col-sm-10
    .box
      = render partial: 'form'

.row.clearfix
  .col-sm-10
    .box
      %h3 Account Users
      %p
        = link_to 'Add a User', "#", class: 'btn btn-primary', id: 'add-user-to-account'

      .new-user-add-form
        = render 'add_user'

      = render 'users'







